@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }
  .font-heading {
    font-family: var(--font-heading), "Inter", sans-serif;
  }
  .font-body {
    font-family: var(--font-body), "Open Sans", sans-serif;
  }
}

@layer base {
  * {
    @apply border-neutral-200;
  }
  body {
    @apply bg-neutral-50 text-neutral-900 font-body;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-heading text-neutral-900;
  }
  p, span, a, li, input, button, textarea {
    @apply text-neutral-800;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .logo-blend {
    mix-blend-mode: multiply;
  }
}
